<p id="notice"><%= notice %></p>

<h2>User</h2>
<p>
    <strong>User ID</strong>
    <%= @user.first_name%>
</p>
<p>
    <strong>User Name</strong>
    <%= @user.last_name%>
</p>
<p>
    <strong>Email</strong>
<%= @user.email%>
</p>

<p>
    <strong>User Profile Address</strong>
    <%= @user.profile.street%>
    <%= @user.profile.street_2%>
    <%= @user.profile.city%>
    <%= @user.profile.state%>
</p>
<p>
    <h2>User's Cats</h2>
    <% @user.cats.each do |cat|  %>
        <h4><%= cat.name %></h4>
        <img src="<%= cat.image_url %>" class="img-thumbnail"
            style="width: 50px; height: 50px; object-fit: cover;" alt="cat_for_adoption">
        <a class="btn btn-primary mt-2" href="/dashboards/show/<%= cat.id  %>" role="button">Show</a>
    <% end %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>